.productos_destacados {
    margin-bottom: 2rem;
    margin-bottom: 4rem;
}
.productos_destacados h2{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-weight: bold;
    justify-content: center;
}

.categorias {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.categorias h2{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-weight: bold;
    justify-content: center;
}
.la-credit-card, .la-shopping-bag, .la-truck, .la-headset{
    font-size: 50px;
    color: black;
}

.elements {
    display: flex;
    justify-content: space-evenly;
}

.elements div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-text {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.sub-text {
    color: gray;
}

.dropdown-menu {
    background: black;
    max-height: 400px;
    overflow-y: scroll;
}

.dropdown-item:hover {
    background-color: black;
}

.logoutButton{
    background-color: black;
    border:none;
}


/* Estilo base de los enlaces */


.text-light a,.logoutButton {
    text-decoration: none; /* Sin subrayado predeterminado */
    color: #fafaf8; /* Color claro para el texto (puedes ajustarlo según tu diseño) */
    position: relative; /* Necesario para el efecto */
    padding: 5px 0;
    transition: color 0.3s ease; /* Transición suave para el color */
}

/* Pseudo-elemento para el efecto */
.text-light a::after, .logoutButton::after {
    content: ''; /* Pseudo-elemento vacío */
    position: absolute; /* Posicionamiento relativo al enlace */
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* Grosor de la línea */
    background:#c47249; /* Color de la línea (puedes ajustarlo) */
    transition: width 0.3s ease; /* Animación del ancho */
}

/* Cambio de color y subrayado al hacer hover */
.text-light a:hover , .logoutButton:hover{
    color: #c47249;/* Cambia el color del texto al pasar el mouse */
}

.text-light a:hover::after , .logoutButton:hover::after{
    width: 100%; /* Expande la línea subrayada al 100% */
}
a{
    text-decoration: none;
}
/* SOBRE NOSOTROS*/

.tituloNosotros{
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */

}
.lead {
    text-align: justify;
    line-height: 1.6; /* Espaciado entre líneas */
    font-weight:600; /* Todo el texto estará en negrita */
    color: #252525;
    font-size: 16px;
    font-style: normal;

  }

.main-text{
   margin-bottom: 50px; /* Ajusta el espacio entre el texto y las tarjetas */
   
}
.col-lg-4 {
    text-align: center; /* Centra el texto */
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en una columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
  }


/* CONTACTOS*/

/*uso de flexores en la caja cuerpoContato */
.cuerpoContato{
    display: flex;
    flex-direction: column; /* para cambiar de eje primordial*/
    align-items: center;    /*ese eje elegido que es el "y", va acompañado de esta directiva*/
    margin: 30px;
}
.tituloContacto{
    text-align: center;
    font-size: 30px;
   
    margin: 10px ;
    font-family: Arial; 
    color: #333;
}
.contact-form-container {
    background-color: #fff; /* Fondo blanco para el formulario */
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px; /* Máximo ancho */   
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.formContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form-container {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.botonEnviar {
    grid-column: 1 / 2;
    padding: 5px 10px;
    background-color: #FF6A13;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-self: start;
    font-size: 16px;
}
.botonEnviar:hover {
    background-color: #e05a0f;
}
/*-----------------------------------*/


.liProduct{
display: flex !important; 
gap: 10px;
align-items: center;
padding: 5px 5px;
}
.liProduct p{
    word-wrap: break-word;
    color:white ;
}
.liProduct:hover{
   background-color: color-mix(in srgb, #0000 70%, white 30%);
}
.width-search{
   padding: 0;
   margin: 0;
    width: 100%;
    max-width: 300px;
    
}

.imgSearch{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/* PRODUCTOS */

.categoria{
    color: #B7A8A8;
    font-size: 11px;
    /* line-height: 31px; */
    font-weight: 500;
    font-family: Inter;
}

.card{
    text-align: center;
    border: 1px solid;
}

.descripcion{
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
}

.precio{
    font-size: 20px;
    font-weight: 550;
}

.card-img-top {
    border-bottom: 1px solid black;
}

.btn-naranja {
    background-color: #F39B6D;
    --bs-btn-border-color: none;
    font-weight: 550;
    color: white;
    /* width: 125px; */
}

/* PRODUCTO INDIVIDUAL */

.producto {
    border: 1px solid #999999;
    max-width: 430px;
}

.miniaturas-box {
    max-width: 222px;
}

.imgGrande {
    object-fit: contain;
    max-height: 420px;
}

.miniatura {
    border: 1px solid #CCCCCC;
    object-fit: contain;
    max-height: 100px;
    /* transition: border 0.2s; */
}

.miniatura:hover {
    border: 2px solid #007BFF;
    opacity: 0.7;
}


/* arreglo con el estilo del producto*/

.dropbtn {
    background-color: black;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-toggle-custom {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem; /* Espacio entre el texto y la flecha */
}

.dropdown-toggle-custom::after {
    margin-left: 0;
}
/*----------------------------------------------------*/


/*VISTA DE FORMUARIO DE REGISTRO DE NUEVO*/
.formulario-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    
}
.formulario {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    margin-bottom: 5px;
    font-weight:normal;
}
input{
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.botonRegistrar {
    grid-column: 1 / 2;
    padding: 5px 10px;
    background-color: #FF6A13;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-self: start;
    font-size: 16px;
}
.botonRegistrar:hover {
    background-color: #e05a0f;
}
.formulario-container p {
    color: red;
    font-size: 12px;
}

.tituloRegistro {
    text-align: center;
    font-size: 30px;  
    margin: 10px ;
    font-family: Arial; 
    color: #333;
}


/*---------------------------------*/

/* VISTA DEL LOGIN*/
.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
   
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-input{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-button{
    
    padding: 5px 10px;
    background-color: #FF6A13;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-self: start;
    font-size: 16px;
}
.login-button:hover{

    background-color: #e05a0f;
}
.login-error{

    color: red;
    font-size: 12px;
}
.login-alert-success{
    margin-bottom: 20px;
}

.tituloLogin{
    text-align: center;
    font-size: 30px;
    margin: 10px ;
    font-family: Arial; 
    color: #333;
}
/*-----------------------------------*/


/*adminProducto*/
.botonProductBuscar {
    padding: 8px 16px; /* Ajuste para mejorar alineación */
    background-color: #FF6A13;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .botonProductBuscar:hover {
    background-color: #e05a0f;
    transform: scale(1.05); /* Efecto visual adicional */
  }


  .nuevoProductoBtn {
    padding: 8px 16px;
    background-color: #FF6A13;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: inline-block; /* Asegura que se comporte como un botón */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .nuevoProductoBtn:hover {
    background-color: #e05a0f;
    transform: scale(1.05); /* Efecto de escalado */
  }
  


  .tablaProductos {
    margin-top: 20px;
    border: 1px solid #ddd;
    width: 100%;
    border-collapse: collapse; /* Asegura que los bordes se fusionen */
  }
  
  .tablaProductos th, .tablaProductos td {
    vertical-align: middle;
    text-align: center;
    padding: 8px; /* Espaciado interno para mejor legibilidad */
  }
  
  .tablaProductos tbody tr:hover {
    background-color: #eeeeee; /* Resalta la fila al pasar el mouse */
  }
  
  .tablaProductos img {
    max-width: 100%;
    border-radius: 5px;
  }
  

  .searchSpace {
    display: flex;
    align-items: center;
  }
  
  .searchSpace .form-control {
    flex-grow: 1;
  }

  .tablaProductos th {
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
    font-size: 14px; /* Tamaño de fuente adecuado para encabezados */
    font-weight: bold; /* Negrita para distinguir los encabezados */
    text-align: center; /* Alineación centrada */
    
    padding: 10px; /* Espaciado interno */
    border-bottom: 2px solid #ddd; /* Línea de separación entre encabezados y contenido */
  }
/*-----------------------------------*/

/*Administraicon */

.catSpace{
    max-width: 200px;
}
.searchSpace{
    max-width: 400px;
}
